<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <File name="File" filename="${basePath}/logfile.log" append = "true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %logger (%F:%L) - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %logger (%F:%L) - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="chat.server.Server" level="info"/>
        <Logger name="chat.server.ClientHandler" level="info"/>
    </Loggers>
</Configuration>